body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    padding: 30px 20px;
    max-width: 1024px;
    flex-grow: 1;
}

.product {
    border: 1px solid #ccc;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.filters {
    padding: 20px 0;
}

.filter-group {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    max-width: 400px;
}

.pagination {
    svg {
        max-width: 10px;
    }
}
